<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>SciDart</title>

    <meta name="description" content="SciDart is a experimental cross-platform scientific platform for Dart.">
    <meta name="keywords" content="Dart, Flutter, SciDart">
    <meta name="author" content="Angelo Polotto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=robots content="index, follow">
    <link rel=canonical href=https://scidart.org/>
    <meta name=google-site-verification content="G-3L9RHKP5K3">
    <meta property="og:title" content="SciDart">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3L9RHKP5K3"></script>
    <script>var doNotTrack=!1;if(!doNotTrack){window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date),gtag('config','G-3L9RHKP5K3',{anonymize_ip:!1})}</script>


    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <div class="navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn" href="https://pub.dev/documentation/scidart/latest/">🧪 SciDart docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" href="https://pub.dev/documentation/scidart_io/latest/">📡 SciDart IO docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" href="https://github.com/scidart/scidart_examples">⚒ Examples</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" href="https://github.com/scidart">📖 Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" href="https://www.buymeacoffee.com/polotto">☕ Buy a coffee</a>
                    </li>
                </ul>
            </div>
        </nav>

        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>